
@font-face{
    font-family:coca-cola;
    src:url('../coca-cola-ii-cdnfonts/Coca\ Cola\ ii.ttf')
}

body{
    height:100%;
    width:100%;
    min-width: 700px;    
}

.alert{
    display:none;
}

#header{
    height:10vh;
}
#search-button:hover {
    background-color: red;
    opacity: 0.6;
    }

#search-input{
    border-radius: 0;
    border-left: black;
    border:5px;
    width:50%;
}

#search-button{
    border-radius: 0%;
    border-left:black
}
.bold{
    font-weight:bold;
}
#idLabel{
    margin-bottom: 8px; 
}

#launch-button{
    margin-top:30px;
}

.h-90{
    height:90vh;
}

.h-85{
    height:85vh;
}

.sign-in-icon{
    position: relative;
  left:0px;
  top: 30px;
  z-index: 1;
}

.table-wrapper {
    max-height:55vh;
    overflow: auto;
    display:inline-block;
  }

  .form-wrapper {
    max-height: 52vh;
    overflow: auto;
    display:inline-block;
    width:98%;
  }

#operator-header{
    font-size:larger;
}

.vw-75{
    width:75vw;
}

#sign-in-logo{
    font-family:coca-cola;
    color:red;
    font-size:3vw;
}

.banner{
    font-family:coca-cola;
    color:white;
}

.coca-cola-logo{
    font-family:coca-cola;
    color:white;
}

#manageUsers{
    width:49vw;
}

#panelLabel{

}

#adminPanel{
    background-color: #E8E8E8;
}

#title{
    font-size:1.3vw;;
}

#refresh:hover{
    cursor:pointer;
}


#errorAddingUserText{
    display:none; 
    color:red;
}

html{
    width:100vw;
    height:100vh; 
  }

a:link {color: black;}      /* unvisited link */
a:visited {color: white;}   /* visited link */
a:hover {color: white;}     /* mouse over link */
a:active {color: white;}


