
@font-face{
    font-family:coca-cola;
    src:url('../coca-cola-ii-cdnfonts/Coca\ Cola\ ii.ttf')
}

body{
    height:100vh;
    
}

.alert{
    display:none;
}

#header{
    height:10vh;
}

.bold{
    font-weight:bold;
}
#idLabel{
    margin-bottom: 8px; 
}

#launch-button{
    margin-top:30px;
}

.table-wrapper {
    max-height:60vh;
    overflow: auto;
    display:inline-block;
  }

  .form-wrapper {
    max-height: 52vh;
    overflow: auto;
    display:inline-block;
  }

#operator-header{
    font-size:larger;
}

.vw-75{
    width:75vw;
}

#coca-cola-logo{
    font-family:coca-cola;
    color:white;
    font-size:8vh;
}

#manageUsers{
    width:49vw;
}

#panelLabel{

}

#adminPanel{
    background-color: #E8E8E8;
}

#title{
    font-size:1.3vw;;
}


#errorAddingUserText{
    display:none; 
    color:red;
}

html {
    overflow-y: scroll; 
  }

a:link {color: black;}      /* unvisited link */
a:visited {color: white;}   /* visited link */
a:hover {color: white;}     /* mouse over link */
a:active {color: white;}

#forgotPasswordLink:hover{
    color: #0000EE;
}
