
@font-face{
    font-family:coca-cola;
    src:url('../coca-cola-ii-cdnfonts/Coca\ Cola\ ii.ttf')
}

body{
    height:100vh;
    
}

.alert{
    display:none;
}

.bold{
    font-weight:bold;
}
#idLabel{
    margin-bottom: 8px; 
}

#launch-button{
    margin-top:30px;
}

.table-wrapper {
    max-height: 52vh;
    overflow: auto;
    display:inline-block;
  }

  .form-wrapper {
    max-height: 52vh;
    overflow: auto;
    display:inline-block;
  }

#operator-header{
    font-size:larger;
}

#coca-cola-logo{
    font-family:coca-cola;
    color:red;
    font-size:3.5vw;
}
#title{
    font-size:larger;
}

#greeting{
    font-size:large;
}
#userType{
    font-size:large;
}

a:link {color: black;}      /* unvisited link */
a:visited {color: black;}   /* visited link */
a:hover {color: black;}     /* mouse over link */
a:active {color: black;}

#forgotPasswordLink:hover{
    color: #0000EE;
}
