*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label{
    font-weight: bold;
}
input[type=text], input[type=password]{
    border: none;
    background-color: #d8d9db;
    border-radius: 5px;
    width: 250px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

input:focus{
    outline-color: black;
}
#sign-in-form{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

#form-body{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#sign-in-form h1{
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: red;
    color: white;
    margin-bottom: 15px;
    width: 100%;
}

#sign-in-form button{
    background-color: red;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: white;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

#sign-in-form button:focus{
    outline-color: black;
}

#sign-in-form button:hover{
    cursor: pointer;
}

#register{
    color: red;
}

#register:hover{
    text-decoration: underline;
    cursor: pointer;
}


