<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>


    <button class="btn btn-danger p-2" type="submit" id = "launchVR" >Launch VR</button>






    <script src = '../js/bootstrap.min.js'></script>
    <script src = '../js/launchApp.js'></script>
</body>
</html>