<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    

<div class="h-100 d-flex flex-column justify-content-center align-items-center">
        <div class = 'p-2'>
            <button class = ' btn btn-danger' id = 'launchVR'>Launch Executable</button>
        </div>


    <form action="../index.html">
        <div class = "p-2">
            <button class = 'btn btn-danger' id = 'logOut'>Log out</button>
        </div>
    </form>

</div>




    <script src = '../js/bootstrap.min.js'></script>
    <script src = '../js/launchApp.js'></script>
</body>
</html>