

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>leader</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel = "stylesheet" href ='../css/styles.css'>
</head>
<body class = "bg-light">


    <div class="row w-100 p-0 d-flex align-items-center header">
        <div class="col-2 d-flex justify-content-center" id = "coca-cola-logo">CocaCola
        </div>
        <div class="col-3 d-flex justify-content-center navbar-brand bold" id = "greeting">
            Hello, Allec Pereira
        </div>
        <div class="col-3 d-flex justify-content-center bold" id = "userType">
            User Type : Operator
        </div>
        <div class="col-2 d-flex justify-content-center" id = "logout">
            <form action = "viewUsers.html">
                <button class = "btn btn-dark">View Users</button>
            </form>
        </div>
        <div class="col-2 d-flex justify-content-center" id = "logout">
            <form action = "signIn.html">
                <button class = "btn btn-danger">Logout</button>
            </form>
        </div>
    </div>

    <div class="container-fluid h-100 d-flex flex-column align-items-center justify-content-center">
        
            <div class="row mb-0">
                <div class="col">    
                    <div class="card w-100">
                        <div class="card-header bold text-center" id = "operator-header">Training Log</div>
                        <div class="table-wrapper">
                                <table class="table table-bordered overflow-auto table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">SCENARIO/SECTION</th>
                                        <th scope="col">COMPLETION</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Product feed</th>
                                            <td id = "product-feed">Complete</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Blank Magazine</th>
                                            <td id = "blank-magazine">Incomplete</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Collating System</th>
                                            <td id = "collating-system">Completed</td>
                                        </tr>
                                        <tr >
                                            <th scope="row">Blank Suction</th>
                                            <td id = "blank_suction">Completed</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Gluing</th>
                                            <td id = "gluing">Completed</td>
                                        </tr>
                                        <tr >
                                            <th scope="row">Film Wrap</th>
                                            <td id = "film-wrap">Completed</td>
                                        </tr>
                                        <tr >
                                        <tr>
                                            <th scope="row">HMI</th>
                                            <td id = "hmi">Completed</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Blank Feed</th>
                                            <td id = "blank-feed">Completed</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Folding</th>
                                            <td id = "folding">Completed</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Scenario 1</th>
                                            <td>
                                                <div class="progress justify-content-space-between">
                                                    <div  id = "s1-progress-bar"class="progress-bar bg-danger" role="progressbar" style="width:100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                                <div id = "s1-progress-percentage" class="text-center">100%</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Scenario 2</th>
                                                <td>   
                                                    <div class="progress justify-content-space-between">
                                                        <div id = "s2-progress-bar" class="progress-bar bg-danger" role="progressbar" style="width:100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                    <div id = "s2-progress-percentage" class = "text-center">100%</div>
                                                </td>                                            
                                        </tr>
                                        <tr>
                                            <th scope="row">Scenario 3</th>
                                            <td>
                                                <div class="progress justify-content-space-between">
                                                    <div id = "s3-progress-bar" class="progress-bar bg-danger" role="progressbar" style="width:100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                                <div  id = "s3-progress-percentage"class="text-center">100%</div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="btn btn-danger mb-5" id = "launch-button">Launch VR Simulation</div>
                </div>
            </div>

            
    </div>

       
 </div>


    <script src = '../js/bootstrap.min.js'></script>
    <script src = '../js/admin.js'></script>

</body>
</html>