
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CocaCola VR Desktop App</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel = "stylesheet" href ='../css/styles.css'>
</head>
<body>

    <!-- Modal -->
<div class="modal fade" id="viewUserModal" tabindex="-1" role="dialog" aria-labelledby="viewUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="viewUserProgress">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          
            <div class="table-wrapper d-flex justify-content-center">
                <table class="table table-bordered overflow-auto">
                    <thead>
                    <tr>
                        <th scope="col">SCENARIO/SECTION</th>
                        <th scope="col">COMPLETION</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Product feed</th>
                            <td id = "product-feed">Complete</td>
                        </tr>
                        <tr>
                            <th scope="row">Blank Magazine</th>
                            <td id = "blank-magazine">Incomplete</td>
                        </tr>
                        <tr>
                            <th scope="row">Collating System</th>
                            <td id = "collating-system">Completed</td>
                        </tr>
                        <tr >
                            <th scope="row">Blank Suction</th>
                            <td id = "blank_suction">Completed</td>
                        </tr>
                        <tr>
                            <th scope="row">Gluing</th>
                            <td id = "gluing">Completed</td>
                        </tr>
                        <tr >
                            <th scope="row">Film Wrap</th>
                            <td id = "film-wrap">Completed</td>
                        </tr>
                        <tr >
                        <tr>
                            <th scope="row">HMI</th>
                            <td id = "hmi">Completed</td>
                        </tr>
                        <tr>
                            <th scope="row">Blank Feed</th>
                            <td id = "blank-feed">Completed</td>
                        </tr>
                        <tr>
                            <th scope="row">Folding</th>
                            <td id = "folding">Completed</td>
                        </tr>
                        <tr>
                            <th scope="row">Scenario 1</th>
                            <td>
                                <div class="progress justify-content-space-between">
                                    <div  id = "s1-progress-bar"class="progress-bar bg-danger" role="progressbar" style="width:100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <div id = "s1-progress-percentage" class="text-center">100%</div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Scenario 2</th>
                                <td>   
                                    <div class="progress justify-content-space-between">
                                        <div id = "s2-progress-bar" class="progress-bar bg-danger" role="progressbar" style="width:100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                    <div id = "s2-progress-percentage" class = "text-center">100%</div>
                                </td>                                            
                        </tr>
                        <tr>
                            <th scope="row">Scenario 3</th>
                            <td>
                                <div class="progress justify-content-space-between">
                                    <div id = "s3-progress-bar" class="progress-bar bg-danger" role="progressbar" style="width:100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <div  id = "s3-progress-percentage"class="text-center">100%</div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="delete-icon-container">
            <svg width="50" height="50" fill="none" viewBox="0 0 24 24">
                <path stroke="red" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.9522 16.3536L10.2152 5.85658C10.9531 4.38481 13.0539 4.3852 13.7913 5.85723L19.0495 16.3543C19.7156 17.6841 18.7487 19.25 17.2613 19.25H6.74007C5.25234 19.25 4.2854 17.6835 4.9522 16.3536Z"/>
                <path stroke="red" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 10V12"/>
                <circle cx="12" cy="16" r="1" fill="#B22222"/>
            </svg>
          </div>
          <h4 class = "modal-title">Are you sure?</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
            <p id = "deleteUserMessage" class = "bold"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" id = "deleteModalButton" data-bs-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id = "resetPasswordModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Reset Password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card sign-in-form m-3">
                <div class="card-body">
                    <div class="mb-3">
                        <div class = 'form-label input-color bold' id = ''>Enter Password</div>
                        <input type="password" class="form-control" id="modalPasswordInput" placeholder = "Enter Password"> 
                        <div class="invalid-feedback" id = "invalidModalPassword"></div>
                    </div>
                    <div class="mb-3">
                        <label for="reenterModalPassword" class="form-label input-color bold">Confirm Password</label>
                        <input type="password" class="form-control " id="modalRePasswordInput" placeholder = "Enter Password"> 
                        <div class="invalid-feedback" id = "invalidReModalPassword"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id = "resetPasswordModalButton" type="button" class="btn btn-danger">Reset Password</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="container modal-header d-flex flex-column">
            <div class="row w-100 align-items-center justify-content-content-between">
                <h5 class="col-10" id="addUserModalTitle">Add User</h5>
                <button type="col-2 button d-flex justify-content-end" class="btn-close col" data-bs-dismiss="modal" id = "close-deleteModal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="row">
                <strong id = "errorAddingUserText" class = "col text-center">Error adding user.</strong>
            </div>
        </div>
    <div class="modal-body d-flex justify-content-center">
        <div class="form-wrapper">
            <div class="card sign-in-form">
                <div class="card-body">
                    <div class="mb-3">
                        <div class = 'form-label input-color bold' id = 'idLabel'>Id</div>
                        <input type="text" class="form-control" id="idInput" placeholder = "Enter Id"> 
                        <div class="invalid-feedback" id = "invalidIdText"></div>
                    </div>
                    <div class="mb-3">
                        <label for="fname" class="form-label input-color bold">First Name</label>
                        <input type="text" class="form-control " id="fnameInput" placeholder = "Enter First Name"> 
                        <div class="invalid-feedback" id = "invalidFnameText"></div>
                    </div>
                    <div class="mb-3">
                        <label for="Lastname" class="form-label input-color bold">Last Name</label>
                        <input type="text" class="form-control" id="lnameInput" placeholder = "Enter Last Name">
                        <div class="invalid-feedback" id = "invalidLnameText"></div>
                    </div>
                    
                    <div class = "mb-3">
                        <label for="selectUserType" class="form-label input-color bold">Role</label>
                        <select id = "selectUserType" class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected value = "0">Select User Role</option>
                            <option value="1">Operator</option>
                            <option value="2">Leader</option>
                            <option value="3">Admin</option>
                        </select>
                        <div class = "invalid-feedback" id = "invalidRoleText"></div>
                    </div>
                    <div class="mb-3">
                        <div class = 'form-label input-color bold' id = 'idLabel'>Password</div>
                        <input type="password" class="form-control" id="passwordInput" placeholder = "Enter Password"> 
                        <div class="invalid-feedback" id = "invalidPassword"></div>
                    </div>
                    <div class="mb-3">
                        <div class = 'form-label input-color bold' id = 'RePasswordLabel'>Re-Enter Password</div>
                        <input type="password" class="form-control" id="re-enter" placeholder = "Enter Password"> 
                        <div class="invalid-feedback" id = "invalidRePassword"></div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id = "addUserButton">Add</button>
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<!--



            <a href = "admin.html" class = "col-2 d-flex justify-content-center">
                <div class="btn p-0">
                <svg width="5vw" height="5vh" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path fill="white" d="M48 256c0 114.87 93.13 208 208 208s208-93.13 208-208S370.87 48 256 48S48 141.13 48 256Zm212.65-91.36a16 16 0 0 1 .09 22.63L208.42 240H342a16 16 0 0 1 0 32H208.42l52.32 52.73A16 16 0 1 1 238 347.27l-79.39-80a16 16 0 0 1 0-22.54l79.39-80a16 16 0 0 1 22.65-.09Z"/></svg>
                </div>
            </a>
-->


  <div class="container-fluid p-0 m-0">
        
        <div class="row d-flex flex-row w-100 bg-danger align-items-center m-0" id = "header">
            <a href = "admin.html" class = "col-2 d-flex justify-content-center">
                <div class="btn p-0">
                <svg width="4vw" height="4vh" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path fill="white" d="M48 256c0 114.87 93.13 208 208 208s208-93.13 208-208S370.87 48 256 48S48 141.13 48 256Zm212.65-91.36a16 16 0 0 1 .09 22.63L208.42 240H342a16 16 0 0 1 0 32H208.42l52.32 52.73A16 16 0 1 1 238 347.27l-79.39-80a16 16 0 0 1 0-22.54l79.39-80a16 16 0 0 1 22.65-.09Z"/></svg>
                </div>
            </a>
            <div class="col-2 d-flex justify-content-center" id = "coca-cola-logo">CocaCola
            </div>
            <div class="col-3 d-flex justify-content-center navbar-brand bold text-white" id = "greeting">

            </div>
            <div class="col-3 d-flex justify-content-center text-white bold" id = "userType"> 
            </div>
            <div class="col-2 d-flex justify-content-center" id = "logout">
                <form action = "signIn.html">
                    <button class = "btn btn-danger border border-white bold">Logout</button>
                </form>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col col-9 d-flex flex-column align-items-center p-0 m-5">
                <div class = "col d-flex flex-column">
                    <div class="card">
                        <div class="card-header bold text-center h5">Users</div>
                        <div class="table-wrapper">
                                <table class="table table-bordered overflow-auto table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">First Name</th>
                                        <th scope = "col">Last Name</th>
                                        <th scope = "col">User Type</th>
                                        <th scope = "col" colspan = "3">Account Managment</th>
                                    </tr>
                                    </thead>
                                        <tbody id = "tableBody">
                                            
                                        </tbody>
                                </table>
                        </div>
                    </div>

                    <div class="col d-flex justify-content-center m-2">
                        <button class="btn btn-danger m-2" id = "launch-button" data-bs-toggle="modal" data-bs-target="#addUserModal">Add User</div>
                    </div>
                </div>
        </div>
    </div>

    <script src = '../js/bootstrap.min.js'></script>
    <script src = '../js/manageUsers.js'></script>

</body>
</html>