
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manageUsers</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel = "stylesheet" href ='../css/styles.css'>
</head>
<body>


    <div class="row w-100 p-2 mb-3 bg-light">
        <i class="bi-arrow-left"></i>
        <div class="col-3 d-flex justify-content-center">
            COCACOLALOGO
        </div>
        <div class="col-3 d-flex justify-content-center navbar-brand bold">
            Hello, Allec Pereira
        </div>
        <div class="col-3 d-flex justify-content-center bold">
            Admin
        </div>
        <div class="col-3 d-flex justify-content-center">
            <button>Logout</button>
        </div>
    </div>

    <div class="container-fluid h-100 d-flex flex-column align-items-center justify-content-center">
        
            <div class="row mb-0">
                <div class="col">    
                    <div class="card w-100">
                        <div class="card-header bold text-center">Users</div>
                        <div class="table-wrapper">
                                <table class="table table-bordered overflow-auto table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">First Name</th>
                                        <th scope = "col">Last Name</th>
                                        <th scope = "col">User Type</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">xxxxxx</th>
                                        <td>xxxxxx</td>
                                        <td>xxxxxx</td>
                                        <td>xxxxxx</td>
                                        <td>
                                            <a href = "" class = "btn btn-sm btn-dark">View</a>
                                        </td>
                                        <td>
                                            <a href = "" class = "btn btn-sm btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">xxxxxxx</th>
                                        <td>xxxxxx</td>
                                        <td>xxxxxx</td>
                                        <td>xxxxxx</td>
                                        <td>
                                            <a href = "" class = "btn btn-sm btn-dark">View</a>
                                        </td>
                                        <td>
                                            <a href = "" class = "btn btn-sm btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">xxxxxxx</th>
                                        <td>xxxxxx</td>
                                        <td>xxxxxx</td>
                                        <td>xxxxxx</td>
                                        <td>
                                            <a href = "" class = "btn btn-sm btn-dark">View</a>
                                        </td>
                                        <td>
                                            <a href = "" class = "btn btn-sm btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">xxxxxxx</th>
                                        <td>xxxxxx</td>
                                        <td>xxxxxx</td>
                                        <td>xxxxxx</td>
                                        <td>
                                            <a href = "" class = "btn btn-sm btn-dark">View</a>
                                        </td>
                                        <td>
                                            <a href = "" class = "btn btn-sm btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">xxxxxxx</th>
                                        <td>xxxxxx</td>
                                        <td>xxxxxx</td>
                                        <td>xxxxxx</td>
                                        <td>
                                            <a href = "" class = "btn btn-sm btn-dark">View</a>
                                        </td>
                                        <td>
                                            <a href = "" class = "btn btn-sm btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">xxxxxxx</th>
                                        <td>xxxxxx</td>
                                        <td>xxxxxx</td>
                                        <td>xxxxxx</td>
                                        <td>
                                            <a href = "" class = "btn btn-sm btn-dark">View</a>
                                        </td>
                                        <td>
                                            <a href = "" class = "btn btn-sm btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">xxxxxxx</th>
                                        <td>xxxxxx</td>
                                        <td>xxxxxx</td>
                                        <td>xxxxxx</td>
                                        <td>
                                            <a href = "" class = "btn btn-sm btn-dark">View</a>
                                        </td>
                                        <td>
                                            <a href = "" class = "btn btn-sm btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">xxxxxxx</th>
                                        <td>xxxxxx</td>
                                        <td>xxxxxx</td>
                                        <td>xxxxxx</td>
                                        <td>
                                            <a href = "" class = "btn btn-sm btn-dark">View</a>
                                        </td>
                                        <td>
                                            <a href = "" class = "btn btn-sm btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                    
                                    

                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="btn btn-danger mb-5" id = "launch-button">Add User</div>
                </div>
            </div>
    </div>

       
 </div>


    <script src = '../js/bootstrap.min.js'></script>

</body>
</html>