<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
   <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self';-->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class = "bg-light">
    <div class="d-flex flex-row">
        <a href = "signIn.html">
            <div class="btn">
            <svg width="3em" height="3em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path fill="currentColor" d="M48 256c0 114.87 93.13 208 208 208s208-93.13 208-208S370.87 48 256 48S48 141.13 48 256Zm212.65-91.36a16 16 0 0 1 .09 22.63L208.42 240H342a16 16 0 0 1 0 32H208.42l52.32 52.73A16 16 0 1 1 238 347.27l-79.39-80a16 16 0 0 1 0-22.54l79.39-80a16 16 0 0 1 22.65-.09Z"/></svg>
            </div>
        </a>
    </div>
    <div class="container h-100 w-100 justify-content-md-center align-items-center">
        <div class="row justify-content-md-center align-items-center h-100">
            <div class="col-5 ">
                <div class="card sign-in-form m-3">
                    <div class="card-body">
                        <h3 class="card-title">Reset Password</h3>
                            <form id = "form">
                                <div class = "mb-3">
                                    <label for="securityQuestion" class="form-label input-color bold">Security Question</label>
                                    <select id = "select" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option selected value = "0">Select Security Question</option>
                                        <option value="1">What is your mother's maiden name?</option>
                                        <option value="2">What elementary school did you attend?</option>
                                        <option value="3">What is the name of the town/city you were born in?</option>
                                    </select>
                                    <div class = "invalid-feedback" id = "invalidSelectText"></div>
                                </div>

                                <div class = "mb-3">
                                     <label for="securityQuestionAnswer" class="form-label input-color bold">Answer</label>
                                     <input  id = "securityQuestionAnswer" type="password" class="form-control" id="securityQuestionAnswer" placeholder = "Enter Answer">
                                     <div class="invalid-feedback" id = "invalidSecurityAnswerText"></div>
                                </div>
                                <div class="mb-3">
                                    <div class = 'form-label input-color bold' id = 'idLabel'>Employee Id</div>
                                    <input type="text" class="form-control" id="idInput" placeholder = "Enter Employee Id"> 
                                    <div class="invalid-feedback" id = "invalidIdText"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label input-color bold">Choose Password</label>
                                    <input type="password" class="form-control " id="passwordInput" placeholder = "Enter Password"> 
                                    <div class="invalid-feedback" id = "invalidPasswordText"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label input-color bold">Confirm Password</label>
                                    <input type="password" class="form-control" id="reenterPasswordInput" placeholder = "Enter Password">
                                    <div class="invalid-feedback" id = "invalidRePasswordText"></div>
                                </div>
                                
                                <div class="d-grid mt-4">
                                    <button class="btn btn-danger p-2" type="submit" id = "loginButton" >Reset Password</button>
                                </div>
                            </form>

                    </div>
                </div>
            </div>
    </div>
    <script src = '../js/bootstrap.min.js'></script>
    <script src = '../js/passwordReset.js'></script>
</body>
</html>