<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coca-Cola VR Desktop App</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">

</head>
<body>

    <div class="bg-danger h1 m-0">
        <div class="banner ms-3">Coca-Cola</div>
    </div>
<div class="h-90 container d-flex flex-column justify-content-center align-items-center">
    <div class="display-5">Coca-Cola VR Portal</div>
    <div class="sign-in-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="4.5em" height="4.5em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="#dc3545" d="M12 2C6.579 2 2 6.579 2 12s4.579 10 10 10s10-4.579 10-10S17.421 2 12 2zm0 5c1.727 0 3 1.272 3 3s-1.273 3-3 3c-1.726 0-3-1.272-3-3s1.274-3 3-3zm-5.106 9.772c.897-1.32 2.393-2.2 4.106-2.2h2c1.714 0 3.209.88 4.106 2.2C15.828 18.14 14.015 19 12 19s-3.828-.86-5.106-2.228z"/></svg>
    </div>

    <div class="row w-100 justify-content-center">
        <div class="col-5">  
            <div class="card">
                    <div class="card-body">
                    <h3 class="card-title mb-3">Sign In</h3>
                    <form id = form>
                        <div class="mb-3">
                            <div id = 'idLabel' class = 'form-label input-color bold'>Employee Id</div>
                            <input type="text" class="form-control" id="idInput" placeholder = "Enter Id"> 
                            <div class="invalid-feedback" id = 'invalidIdText'></div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label input-color bold">Enter Password</label>
                            <input type="password" class="form-control " id="passwordInput" placeholder = "Enter Password"> 
                            <div class="invalid-feedback" id = "invalidPasswordText"></div>
                        </div>
                        <div class="d-grid mt-4 mb-3">
                            <button class="btn btn-danger p-2" type="submit" id = "loginButton" >Sign In</button>
                        </div>
                    </form>  
                    </div>
            </div>
        </div> 
    </div> 

</div>

<script src = '../js/bootstrap.min.js'></script>  
<script src = '../js/signIn.js'></script>  
</body>
</html>