
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CocaCola VR Desktop App</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel = "stylesheet" href ='../css/styles.css'>
</head>
<body>

    <!-- Modal -->
<div class="modal fade" id="viewUserModal" tabindex="-1" role="dialog" aria-labelledby="viewUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="viewUserProgress">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          
            <div class="table-wrapper d-flex justify-content-center">
                <table class="table table-bordered overflow-auto">
                    <thead>
                    <tr>
                        <th scope="col">SCENARIO/SECTION</th>
                        <th scope="col">COMPLETION</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Product feed</th>
                            <td id = "product-feed">Complete</td>
                        </tr>
                        <tr>
                            <th scope="row">Blank Magazine</th>
                            <td id = "blank-magazine">Incomplete</td>
                        </tr>
                        <tr>
                            <th scope="row">Collating System</th>
                            <td id = "collating-system">Completed</td>
                        </tr>
                        <tr >
                            <th scope="row">Blank Suction</th>
                            <td id = "blank_suction">Completed</td>
                        </tr>
                        <tr>
                            <th scope="row">Gluing</th>
                            <td id = "gluing">Completed</td>
                        </tr>
                        <tr >
                            <th scope="row">Film Wrap</th>
                            <td id = "film-wrap">Completed</td>
                        </tr>
                        <tr >
                        <tr>
                            <th scope="row">HMI</th>
                            <td id = "hmi">Completed</td>
                        </tr>
                        <tr>
                            <th scope="row">Blank Feed</th>
                            <td id = "blank-feed">Completed</td>
                        </tr>
                        <tr>
                            <th scope="row">Folding</th>
                            <td id = "folding">Completed</td>
                        </tr>
                        <tr>
                            <th scope="row">Scenario 1</th>
                            <td>
                                <div class="progress justify-content-space-between">
                                    <div  id = "s1-progress-bar"class="progress-bar bg-danger" role="progressbar" style="width:100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <div id = "s1-progress-percentage" class="text-center">100%</div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Scenario 2</th>
                                <td>   
                                    <div class="progress justify-content-space-between">
                                        <div id = "s2-progress-bar" class="progress-bar bg-danger" role="progressbar" style="width:100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                    <div id = "s2-progress-percentage" class = "text-center">100%</div>
                                </td>                                            
                        </tr>
                        <tr>
                            <th scope="row">Scenario 3</th>
                            <td>
                                <div class="progress justify-content-space-between">
                                    <div id = "s3-progress-bar" class="progress-bar bg-danger" role="progressbar" style="width:100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <div  id = "s3-progress-percentage"class="text-center">100%</div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>




<!--
  <div class="row w-100 p-0 d-flex align-items-center header bg-light">

    <div class="col-1 d-flex justify-content-center" id = "back-button">
    <a href = "leader.html">
        <div class="btn">
        <svg width="3em" height="3em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path fill="currentColor" d="M48 256c0 114.87 93.13 208 208 208s208-93.13 208-208S370.87 48 256 48S48 141.13 48 256Zm212.65-91.36a16 16 0 0 1 .09 22.63L208.42 240H342a16 16 0 0 1 0 32H208.42l52.32 52.73A16 16 0 1 1 238 347.27l-79.39-80a16 16 0 0 1 0-22.54l79.39-80a16 16 0 0 1 22.65-.09Z"/></svg>
        </div>
    </a>
    </form>
    </div>
    <div class="col-3 d-flex justify-content-center" id = "coca-cola-logo">CocaCola
    </div>
    <div class="col-3 d-flex justify-content-center navbar-brand bold" id = "greeting">
        Hello, Allec Pereira
    </div>
    <div class="col-3 d-flex justify-content-center bold" id = "userType">
        User Type : Operator
    </div>
    <div class="col-2 d-flex justify-content-center" id = "logout">
        <form action = "signIn.html">
            <button class = "btn btn-danger">Logout</button>
        </form>
    </div>
</div>
-->
<div class="container-fluid h-100 w-100 p-0 m-0">

        <div class="row d-flex flex-row w-100 bg-danger align-items-center m-0" id = "header">
            <a href = "leader.html" class = "col-2 d-flex justify-content-center">
                <div class="btn p-0">
                <svg width="4vw" height="4vh" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path fill="white" d="M48 256c0 114.87 93.13 208 208 208s208-93.13 208-208S370.87 48 256 48S48 141.13 48 256Zm212.65-91.36a16 16 0 0 1 .09 22.63L208.42 240H342a16 16 0 0 1 0 32H208.42l52.32 52.73A16 16 0 1 1 238 347.27l-79.39-80a16 16 0 0 1 0-22.54l79.39-80a16 16 0 0 1 22.65-.09Z"/></svg>
                </div>
            </a>
            <div class="col-2 d-flex justify-content-center" id = "coca-cola-logo">CocaCola
            </div>
            <div class="col-3 d-flex justify-content-center navbar-brand bold text-white" id = "greeting">

            </div>
            <div class="col-3 d-flex justify-content-center text-white bold" id = "userType"> 
            </div>
            <div class="col-2 d-flex justify-content-center" id = "logout">
                <form action = "signIn.html">
                    <button class = "btn btn-danger border border-white bold">Logout</button>
                </form>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col col-9 d-flex flex-column align-items-center p-0 m-5">
                <div class = "col d-flex flex-column">
                    <div class="card">
                        <div class="card-header bold text-center h5">Users</div>
                        <div class="table-wrapper">
                                <table class="table table-bordered overflow-auto table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">First Name</th>
                                        <th scope = "col">Last Name</th>
                                        <th scope = "col">User Type</th>
                                    </tr>
                                    </thead>
                                            <tbody id = "tableBody">
    
                                            </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
</div>

<!--
            <div class="row mb-0">
                <div class="col">    
                    <div class="card w-100">
                        <div class="card-header bold text-center" id = "title">Users</div>
                        <div class="table-wrapper">
                                <table class="table table-bordered overflow-auto table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">First Name</th>
                                        <th scope = "col">Last Name</th>
                                        <th scope = "col">User Type</th>
                                    </tr>
                                    </thead>
                                        <tbody id = "tableBody">
                                            
                                        </tbody>
                                </table>
                            </div>
                    </div>
                </div>
            </div>
-->

            
    </div>

    <script src = '../js/bootstrap.min.js'></script>
    <script src = '../js/viewUsers.js'></script>

</body>
</html>